#submitB {
    width:100px;
    height:100px;
    position:absolute;
    left: 53.2%;
    top:57%;
    margin:auto;

    &:hover{
        &::after{
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &::before{
            opacity: 0;
            transform: translateY(50%) rotateX(90deg)
        }
    }

    &::after{
        top:0;
        left:0;
        opacity:0;
        width:100%;
        color: #FDC608;
        display:block;
        transition: $speed;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);

    }
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
      }
}